.container{
    display: flex;
}

.left-container{
    flex:1;
}

.left-container ul li{
    cursor: pointer;
}

.left-container ul li:hover{
    font-weight: bold;
}


.right-container{
    flex:3;
}